html {
	font-size: 15px;
	font-family: sans-serif;
	color-scheme: light;
}

table {
	color: lightgray;
	border-collapse: collapse;
	border: 2px solid rgb(96,96,96);
	letter-spacing: 1px;
	font-size: 0.8rem;
}

tr:nth-child(even)  {
	background-color: rgb(36,36,36);
}

tr:nth-child(odd)  {
	background-color: rgb(24,36,36);
}

td, th {
	border: 1px solid rgb(96,96,96);
	padding: 10px 20px;
}

td.selected, th.selected {
	background-color: rgb(15, 35, 50);
}

th {
	background-color: rgb(24,24,24);
	font-weight: bold;
}

td {
	text-align: center;
}

/* td:not(:first-child) {
	text-align: center;
} */

/* td:first-child {
	font-weight: bold;
} */

/* caption {
	padding: 10px;
} */

#viewportSTA {
	position: absolute;
	top: 32px;
	left: 0;
	/* right: 300px; */
	bottom: 0;
	z-index: -1;
	/* overflow: hidden; */
}

#tabbedPanel {
	position: absolute;
	/* right: 0; */
	top: 332px;
	bottom: 0;
	/* width: 300px; */
	background-color: rgb(24, 24, 24);
	overflow: auto;
}

	.Tabs { /* .TabbedPanel .Tabs */
		text-transform: uppercase;
		text-align: center;
		display: flex;
		background-color: rgb(12, 12, 12);
		border-left: 1px solid rgb(96, 96, 96);
		border-radius: 10px 0;
	}
	
	.Tabs .Tab {
		flex-grow: 1;
		border-radius: 10px 10px 0 0;
		border-top: 1px solid rgb(96, 96, 96);
		border-right: 1px solid rgb(96, 96, 96);
		border-bottom: 1px solid rgb(96, 96, 96);
		padding: 12px 10px 8px 10px;
		font-size: 14px;
		color: grey;
		background-color: rgb(12, 12, 12);;
	}

	.Tabs .Tab:hover {
		color: beige;
	}

	.Tabs .Tab.selected {
		color: white;
		border-bottom: 0;
		background-color: rgb(36, 36, 36);
	}

	.Panels { /* .TabbedPanel .Panels */
		color: lightgray;
		border-right: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-color: rgb(96, 96, 96);
		background-color: rgb(36, 36, 36);
		margin: 0;
		padding: 5px 10px;
	}

		.item {
			padding: 5px 10px;
		}

		.item:hover {
			background-color: Green;
		}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: rgb(36, 36, 36);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #555;
}

.collapsible:after {
content: '\002B'; /* Unicode character for "plus" sign (+) */
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Animated Collapsible (Slide Down) */
.content {
padding: 0 18px;
background-color: rgb(36, 36, 36);
max-height: 0;
/* overflow: hidden; */
overflow: auto;
transition: max-height 0.2s ease-out;
}


@media (prefers-color-scheme: dark) {
	
	html {
		font-size: 15px;
		font-family: sans-serif;
		color-scheme: dark;
	}

}
